<div class="container p-3">
    <div class="row">
        @foreach (var item in this.ViewBag.MaListe)
        {
            <div href="#" class="card  border m-3 text-center bg-warning" style="width: 20rem; background-image: url('/images/imagesLayout/Fond.png');">
                <div class="card-body text-warning">
                    <h3> @item.Name</h3>
                    <h5> @item.Point</h5>
                </div>
            </div>
        }
    </div>
</div>